In [1]:
import pandas as pd

In [37]:
month_map = {
    'Jan': 'January',
    'Feb': 'February',
    'Mar': 'March',
    'Apr': 'April',
    'May': 'May',
    'Jun': 'June',
    'Jul': 'July',
    'Aug': 'August',
    'Sep': 'September',
    'Oct': 'October',
    'Nov': 'November',
    'Dec': 'December'
}

month_num = {'January': 1, 'February': 4, 'March': 16, 'April': 64, 'May': 256, 'June': 1042,
             'July': 4096, 'August': 16384, 'September': 65536, 'October': 262144, 'November': 1048576,
             'December': 4194304}

In [45]:
sales_df = pd.read_csv("sales.csv")
sales_df['Month Number'] = sales_df['Month'].map(month_num)

cogs_df = pd.read_csv("COGS.csv")
cogs_df['Month'] = cogs_df['Month'].map(month_map)
cogs_df['Month Number'] = cogs_df['Month'].map(month_num)

In [43]:
sales_df_g = sales_df.groupby(by=["Month"]).sum(numeric_only=True).sort_values(by="Month")[['Total NET Sales ($)','Month Number']]
sales_df_g

          Total NET Sales ($)  Month Number
Month
January             524949.47           730
February            497379.01          3124
March               443376.34         12352

In [50]:
cogs_df_g = cogs_df.groupby(by=["Month"]).sum(numeric_only=True).sort_values(by="Month Number")[['Sum of Amount','Month Number']].sort_values(by="Month Number")
cogs_df_g

          Sum of Amount  Month Number
Month
January   400718.169977            58
February  367929.269968           272
March     349127.509961          1072

In [51]:
df2 = sales_df_g['Total NET Sales ($)'] - cogs_df_g['Sum of Amount']
df2

Month
January     124231.300023
February    129449.740032
March        94248.830039
dtype: float64

In [52]:
new_df = pd.DataFrame({
    'Month': sales_df_g.index,
    'Gross Profit': df2.values
})

new_df

      Month   Gross Profit
0   January  124231.300023
1  February  129449.740032
2     March   94248.830039

In [19]:
y = "Hola"

In [27]:
z = "y adios"

In [24]:
x = 'El dijo {} {}'.format(y, z)
x

'El dijo Hola y adios]'